--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

Django
djangorestframework
djangorestframework-simplejwt

torch
torchvision

numpy==1.26.4
opencv-python-headless
Pillow

psycopg2-binary

gunicorn

django-prometheus
python-dotenv
django-cors-headers